.recipe-link{
    padding: 0px;
    margin:20px;
    width:300px;
    text-align:center;
}
.title{
    color: #65965a;
    background-color:#0b240f;
    width: 350px;
    height: 50px;
    padding: 10px;
    border: 2px black;
    margin: 20px;
    font-size: 50px;
    text-align: center;
    
}

body{
    background-color: #c4c0a7;
    text-align: left;
    list-style-position: inside; 
    font-family:fantasy;
    font-size: 40px;
}

#thnks{
    font-size: 25px;
}

#honey{
    background-color: #e0c451;
}

#lembas{
    background-color:#417a15;
}

#fig{
    background-color:#5e496e;
}
/* Add style declaration linking all pages to
 have the same font as bhcakes */