* {
    box-sizing: border-box;
}
.title-index {
    display: block;
    padding: 16px;
    border: 8px solid darkolivegreen;
    width: fit-content;
    background-color: blanchedalmond;
    margin: 0 auto;
}