* {
    box-sizing: border-box;
}
.title-index {
    display: block;
    padding: 16px;
    border: 8px solid darkolivegreen;
    width: fit-content;
    background-color: blanchedalmond;
    margin: 0 auto;
    margin-bottom: 20PX;
}
.button-one {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;  
  
}
.button-two {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;  
  
}
.button-three {
     display: inline-block;
     padding: 5px; 
     font-size: 18px;
     text-decoration: none;
     color: black;
  
}
button {
    font-size: 18px;
    text-align: center;
    margin: 10px
}
.title-bhcakes {
    display: block;
    padding: 16px;
    border: 8px solid darkolivegreen;
    width: fit-content;
    background-color: blanchedalmond;
    margin: 0 auto;
    margin-bottom: 20PX;
}
.hc-img {
    display: block;
    margin: 0 auto;
}