.recipe-link{
    padding: 1vw;
    margin: 2vw;
    width:50vw;
    text-align:center;
}
.title{
    color: #65965a;
    background-color:#0b240f;
    width: 50vw;
    height: 7vw;
    padding: 2vw;
    border: 1vw black;
    margin: 4vw;
    font-size: 6vw;
    text-align: center;
    
}

body{
    background-color: #c4c0a7;
    text-align: left;
    list-style-position: inside; 
    font-family:fantasy;
    font-size: 5vw;
}

#thnks{
    font-size: 3vw;
}

#honey{
    background-color: #e0c451;
}

#lembas{
    background-color:#417a15;
}

#fig{
    background-color:#5e496e;
}
/* Add style declaration linking all pages to
 have the same font as bhcakes */